[submodule "libs/apiserver"]
	path = libs/apiserver
	url = https://github.com/Nathcat/CPP-API-Server
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json
[submodule "libs/authcat"]
	path = libs/authcat
	url = https://github.com/kitty-committee/authcat
[submodule "libs/httplib"]
	path = libs/httplib
	url = https://github.com/yhirose/cpp-httplib
