.subheader {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    border-bottom: 1px solid var(--quad-color);
    width: 100%;
    margin: 0px;
}

.subheader div {
    border-left: 1px solid var(--quad-color);
    border-right: 1px solid var(--quad-color);
    width: 100%;
    display: grid;
    place-content: center;
    height: fit-content;
}

.subheader div:hover {
    cursor: pointer;
    background: linear-gradient(45deg, #e600ff 0%, #00ccff 100%);
}

.app-record {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app-record .delete-button {
    opacity: 0;
    transition-duration: 250ms;
}

.app-record:hover .delete-button {
    opacity: 1;
}